<nav class="fixed top-0 left-0 w-full z-50 backdrop-blur bg-gradient-to-r from-blue-300/70 to-blue-100/70 text-white p-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center space-x-6">
      <a href="/" class="flex items-center space-x-2 hover:text-gray-300">
        <img src="assets/images/sova.png" alt="Škola Logo" class="h-20 w-auto" />
        <span class="text-2xl font-bold text-white">Škola.io</span>
      </a>
      <a href="/" class="text-lg text-white hover:text-gray-300 transition-colors">Početna</a>
      <a href="/razred" class="text-lg text-white hover:text-gray-300 transition-colors">Razredi</a>
    </div>

    <div class="flex space-x-4">
      <a 
        routerLink="/login" 
        class="bg-indigo-600 hover:bg-white hover:text-indigo-600 px-6 py-2 rounded-full transition-colors text-white font-semibold hover:cursor-pointer"
      >
        Prijava
      </a>
      <a 
        routerLink="/register" 
        class="bg-green-500 hover:bg-white hover:text-green-600 px-6 py-2 rounded-full transition-colors text-white font-semibold hover:cursor-pointer"
      >
        Registracija
      </a>
    </div>
  </div>
</nav>


