
<div class="min-h-screen flex flex-col">
  <main class="flex-grow w-full px-4 py-8 bg-gradient-to-r from-blue-300 to-blue-100 pt-35">
    <div class="max-w-3xl mx-auto bg-blue-100 rounded-lg shadow-lg p-6">
      <div class="flex justify-center items-center mb-6">
        <h1 class="text-3xl font-bold text-gray-800">Novi razred</h1>
        
      </div>
      
      <form (ngSubmit)="onSubmit()" class="space-y-6">
        <!-- Školska godina -->
        <div>
          <label class="block text-sm font-medium text-gray-700">
            Školska godina ⭐
            <select 
            [(ngModel)]="noviRazred.schoolYear"
            name="schoolYear"
            class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
            required
            >
            <option value="" disabled selected>Izaberite školsku godinu</option>
            <option *ngFor="let godina of skolskeGodine" [value]="godina">{{ godina }}</option>
          </select>
        </label>
      </div>
      
      <!-- Razred -->
      <div>
        <label class="block text-sm font-medium text-gray-700">
          Razred ⭐
          <select 
          [(ngModel)]="noviRazred.razred"
          name="razred"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
          required
          >
          <option value="" disabled selected>Izaberite razred</option>
          <option *ngFor="let razred of razredi" [value]="razred">{{ razred }}</option>
        </select>
      </label>
    </div>
    
    <!-- Program -->
    <div>
      <label class="block text-sm font-medium text-gray-700">
        Program ⭐
        <select 
        [(ngModel)]="noviRazred.program"
        name="program"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
        required
        >
        <option value="" disabled selected>Izaberite program</option>
        <option *ngFor="let program of programi" [value]="program">{{ program }}</option>
      </select>
    </label>
  </div>
  
  <!-- Dugmici -->
  <div class="flex justify-end space-x-4 mt-8">
    <a 
    routerLink="/grade-view"
    class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded-lg transition-colors"
    >
    ← Otkaži
  </a>
  <button
  type="submit"
  class="bg-indigo-600 hover:bg-indigo-700 text-white px-6 py-2 rounded-lg transition-colors hover:cursor-pointer"
  >
  Sačuvaj
</button>
</div>
</form>
</div>
</main>
</div>
